{% extends 'base.html' %}
{% block content %}
<!--Search section of SAVE & SEARCH -->
<div class="jumbotron text-center">
    <h3>Search and Save</h3>
    <p>Don't forget to save companies if you want to monitor them for a possible default</p>
    <section id="searchQueryHead" style="margin-top: 0px;">
        <div class="container-fluid animated fadeInUp delay-1s">
            <div class="row">
                <div class="col-lg-3 col-sm-1 col-xs-0"></div>
                <div class="col-lg-6 col-sm-10 col-xs-12">
                    <form>
                        <div class="input-group" style="margin-bottom: 0px;">
                            <input type="email" class="form-control" size="50" id="querySearchInput{{ search[0] }}"
                            value="{{ search[1] }}" placeholder="Company XYZ AG" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger querySearchButton"
                                unique_id="{{ search[0] }}">Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-sm-1 col-xs-0"></div>
        </div>
        </div>
    </section>
</div>
<!-- Explaining how it works - will be replaced by html in file section3.html on submission -->
<section id="searchQuery" style="margin-top: 0px;">
    <div id="pricing" class="container-fluid animated fadeInUp delay-1_1s"
    style="display: flex; justify-content: space-evenly;">
    <div id="querySearchSection{{ search[0] }}">
        <div class="row">
            <div class="col-sm-6">
                <div class="container-fluid" style="max-width: 500px; padding-top: 5px;">
                    <h2>Saved & Monitored Companies</h2>
                    <h4><strong>How to:</strong> Search a company in the section above. Choose the right one and save it in
                        order to add it to the monitoring list.
                        We will make sure to query the register SHAB for defaults and inform you asap when a match is found. We
                        update the data early in the morning on
                        five days a week. To be notified please leave your contact information under <a href="/contact">Manage
                        Contacts.</a>
                    </h4><br>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/static/search.svg" class="center" width="500px" style="background: transparent;"
                alt="monitor auf de.freepik.com" />
            </div>
        </div>
        </div>
    </div>
</section>


<!--Section Saved entries-->
<section id="savedSectionID">
    <div class="container animated fadeInUp delay-1_4s">
        {% for save in saved %}
        <!-- Here we style companies in liquidation -->
        {% if save[2] in matches %}
        {% for liq_detail in matches_liq_detail %}
        {% if liq_detail[2] == save[2] %}
        <div id="querySavedSection{{ save[0] }}">
            <div class="form-group">
                <div class="panel panel-default" style="border: 3px solid red;">
                    <div class="panel-body" style="padding-top: 25px;">
                        <div class="row">
                            <div class="col-lg-2 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-3 col-sm-3 col-xs-12 text-left" style="bottom: 4px;">
                                <div class="d-flex" style="max-height: 0px;">
                                    <h4><span style="color: red;"><strong>In Liquidation</strong></span></h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-5 col-xs-8">
                                <input type="text" class="form-control" disabled="true" id="querySavedInput{{ save[0] }}"
                                value="{{ save[1] }}">
                            </div>
                            <div class="col-lg-1 col-sm-2 col-xs-4">
                                <button class="btn btn-danger queryDeleteButton" unique_id="{{ save[0] }}">Delete from
                                    list
                                </button>
                            </div>
                            <div class="col-lg-2 col-sm-1 col-xs-0"></div>
                        </div>

                        <!--Additional row for further information on the default company-->
                        <div class="row" style="padding-top: 10px; padding-bottom: 0;">
                            <div class="container-fluid animated fadeInUp delay-1_1s"
                            style="display: flex; justify-content: space-evenly; padding-bottom: 0; padding-top: 10px;">

                                <div class="col-sm-10" style="padding-right: 0; text-align: left;padding-bottom: 0;">
                                    <div class="row">
                                        <div class="col-sm-3" style="padding-right: 0; text-align: left;">
                                            <i class="fa fa-bullhorn">&nbsp Type</i>
                                            <p>{{ liq_detail[0] }}</p>
                                        </div>
                                        <div class="col-sm-3" style="padding-right: 0; text-align: left;">
                                            <i class="fa fa-calendar-times-o">&nbsp Deadline</i>
                                            <p>{{ liq_detail[3].strftime('%d-%m-%Y') }}</p>
                                        </div>
                                        <div class="col-sm-3" style="padding-right: 0; text-align: left;">
                                            <i class="fa fa-building">&nbsp CHE</i>
                                            <p>{{ liq_detail[2] }} </p>
                                        </div>
                                        <div class="col-sm-3" style="padding-right: 0; text-align: left;">
                                            <i class="fa fa-address-card">&nbsp Address</i>
                                            <p>{{ liq_detail[4] }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}

        <!-- Here we style companies saved but not in liquidation -->
        {% for save in saved %}
        {% if save[2] not in matches %}
        <div id="querySavedSection{{ save[0] }}">
            <div class="form-group">
                <div class="panel panel-default" style="border: 1px solid green;">
                    <div class="panel-body" style="padding-top: 20px;">
                        <div class="row">
                            <div class="col-lg-2 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-3 col-sm-3 col-xs-12 text-left" style="bottom: 4px;">
                                <div class="d-flex" style="max-height: 0px;">
                                    <h4><span style="color: green;"><strong>Solvent</strong></span></h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-5 col-xs-8">
                                <input type="text" class="form-control" disabled="true" id="querySavedInput{{ save[0] }}"
                                value="{{ save[1] }}">
                            </div>
                            <div class="col-lg-1 col-sm-2 col-xs-4">
                                <button class="btn btn-danger queryDeleteButton" unique_id="{{ save[0] }}">Delete from
                                    list
                                </button>
                            </div>
                            <div class="col-lg-2 col-sm-1 col-xs-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}
