<!--Sections are needed to perform the Sectional page refresh using JavaScript and jQuery-->
<!--This section is used to refresh the register on the contact page-->
{% if contact[0] %}
    <div class="container panel panel-default animated fadeInUp delay-1_4s"
        style="display: flex; justify-content: space-evenly; margin-top: 6px;">
        <div class="panel-body" style="margin-left: auto; margin-right: auto">
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="roleInput{{ contact[0] }}" value="{{ contact[4] }}"
                        placeholder="Role/ Comment">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="phoneInput{{ contact[0] }}" value="{{ contact[2] }}"
                        placeholder="e.g. +41 173 8809022">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailInput{{ contact[0] }}" value="{{ contact[3] }}"
                        placeholder="e.g. max-mustermann@gmail.com">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-danger editButton" unique_id="{{ contact[0] }}">
                        <i class="fa fa-refresh"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-danger deleteButton" unique_id="{{ contact[0] }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
</div>
{% endif %}
